body {
    font-family: 'Montserrat';
    font-size: 14px;
}

.list-container {
    border-bottom: 1px solid #E8E8E8;
    background: #FFF;
    padding: 16px 24px;
    cursor: pointer;
}

.list-container-selected {
    background: #FFF5EE;
}

.title {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.title-big {
    font-size: 16px;
}

.title-primary {
    color: #FFB444;
}

.text-label {
    color: #6F6F6F;
    line-height: normal;
}

.chip {
    height: 24px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #DEDEDE;
    font-size: 14px;
    padding: 4px 14px;
}

.small-chip {
    font-size: 12px;
}

.hover-scale {
    transform: scale(1);
    transition: transform 0.3s ease 0s;
}

.hover-scale:hover {
    transform: scale(1.01);
}

.circle-container {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #f89002;
    border-radius: 100%;
}

.bg-white {
    background-color: #fafafa;
}